# PostgreSQL + PostGIS connection string
# Example for local development: postgresql://user:password@localhost:5432/grillplatz
# Example for Neon: postgresql://user:password@ep-xxx.eu-central-1.aws.neon.tech/grillplatz?sslmode=require
DATABASE_URL="postgresql://user:password@localhost:5432/grillplatz"
